<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="deconnexion()">
                <ion-icon sloc="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
    <p>{{ user | json }}</p>
    <p>{{ user.id }}</p>
    <p>{{ user.username }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.nom }}</p>
    <p>{{ user.prenom }}</p>
</ion-content>