.attente-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /*#bars {
        height: 80%;
        .cls-1 {
            opacity: 0;
            transform: rotate3d(1, 1, 0, 50deg);
            animation: 1s 0.2s ease fadeInAndSpin;
            animation-fill-mode: forwards;
        }
        .cls-2 {
            opacity: 0;
            transform: rotate3d(1, 1, 0, 50deg);
            animation: 1s 0.4s ease fadeInAndSpin;
            animation-fill-mode: forwards;
        }
        .cls-3 {
            opacity: 0;
            transform: rotate3d(1, 1, 0, 50deg);
            animation: 1s 0.6s ease fadeInAndSpin;
            animation-fill-mode: forwards;
        }
        .cls-4 {
            opacity: 0;
            transform: rotate3d(1, 1, 0, 50deg);
            animation: 1s 0.8s ease fadeInAndSpin;
            animation-fill-mode: forwards;
        }
        .cls-5,
        .cls-6 {
            opacity: 0;
            animation: 2s 1.5s linear fadeIn;
            animation-fill-mode: forwards;
        }
    }*/
    #calculator {
        width: 350px;
    }
    svg * {
        transform-origin: 50%;
    }
    $clickable-buttons: 1 3 5 7 8;
    @each $button in $clickable-buttons {
        $i: index($clickable-buttons, $button);
        $delay: -#{$button * 2.7}s; // Faking randomness
        .buttons> :nth-child(#{$button}) {
            animation: buttonClick 2s infinite;
            animation-delay: $delay;
        }
        .display-digits> :nth-child(#{$i}) {
            animation: typeDigit 2s infinite;
            animation-delay: $delay;
        }
    }
    @keyframes buttonClick {
        0%,
        20%,
        100% {
            stroke: transparent;
        }
        10% {
            stroke: grey;
            stroke-opacity: 1;
            stroke-width: 0.8%;
        }
    }
    @keyframes typeDigit {
        0% {
            opacity: 0;
        }
        10%,
        100% {
            opacity: 1;
        }
    }
}


/*@keyframes fadeInAndSpin {
    100% {
        opacity: 1;
        transform: rotate3d(1, 1, 0, 0deg);
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}*/