<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">Connexion</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding test">
    <div class="content">
        <div class="content2">
            <form [formGroup]="loginForm" method="post">
                <ion-item>
                    <ion-label position="stacked">Nom d'utilisateur</ion-label>
                    <ion-input formControlName="username" type="text" name="username"></ion-input>
                </ion-item>
                <div *ngIf="loginForm.controls.username.status == 'INVALID' && (loginForm.controls.username.dirty || loginForm.controls.username.touched)">
                    <p>Le nom est requis.</p>
                </div>

                <ion-item>
                    <ion-label position="stacked">Mot de passe</ion-label>
                    <ion-input formControlName="password" type="password" name="password"></ion-input>
                </ion-item>
                <div *ngIf="loginForm.controls.password.status == 'INVALID' && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                    <p>Le mot de passe est requis.</p>
                </div>

                <ion-text>
                    <p class="ion-text-right">Mot de passe oublié ?</p>
                </ion-text>

                <ion-button type="submit" expand="full" color="primary" (click)="connexion(loginForm.value)">Connexion</ion-button>
            </form>
            <ion-text>
                <p class="ion-text-center">Vous n'avez pas encore de compte ?</p>
            </ion-text>
            <ion-button expand="full" color="danger" routerDirection="forward" [routerLink]="['/inscription']">Inscription</ion-button>
        </div>
    </div>
</ion-content>