.content {
    width: 90%;
    margin: auto;
    .champs {
        .champ {
            margin-bottom: 20px;
            .erreur {
                color: #f04141;
                font-size: 12px;
            }
        }
    }
}