<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/connexion"></ion-back-button>
        </ion-buttons>
        <ion-title>Inscription</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="content">
        <form [formGroup]="registerForm" method="post" class="champs">
            <div class="champ">
                <ion-item>
                    <ion-label position="stacked">Nom</ion-label>
                    <ion-input formControlName="nom" type="text" name="nom" required></ion-input>
                </ion-item>
                <div class="erreur" *ngIf="registerForm.controls.nom.status == 'INVALID' && (registerForm.controls.nom.dirty || registerForm.controls.nom.touched)">
                    <p>Le nom est requis.</p>
                </div>
            </div>

            <div class="champ">
                <ion-item>
                    <ion-label position="stacked">Prénom</ion-label>
                    <ion-input formControlName="prenom" type="text" name="prenom" required></ion-input>
                </ion-item>
                <div class="erreur" *ngIf="registerForm.controls.prenom.status == 'INVALID' && (registerForm.controls.prenom.dirty || registerForm.controls.prenom.touched)">
                    <p>Le prénom est requis.</p>
                </div>
            </div>

            <div class="champ">
                <ion-item>
                    <ion-label position="stacked">Email</ion-label>
                    <ion-input formControlName="email" type="email" name="email" required></ion-input>
                </ion-item>
                <div class="erreur" *ngIf="registerForm.controls.email.status == 'INVALID' && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
                    <p>L'email est requis.</p>
                </div>
            </div>

            <div class="champ">
                <ion-item>
                    <ion-label position="stacked">Nom d'utilisateur</ion-label>
                    <ion-input formControlName="username" type="text" name="username" required></ion-input>
                </ion-item>
                <div class="erreur" *ngIf="registerForm.controls.username.status == 'INVALID' && (registerForm.controls.username.dirty || registerForm.controls.username.touched)">
                    <p>Le nom d'utilisateur est requis.</p>
                </div>
            </div>

            <div class="champ">
                <ion-item>
                    <ion-label position="stacked">Mot de passe</ion-label>
                    <ion-input formControlName="password" type="password" name="password" required (ionChange)="samePassword(registerForm)"></ion-input>
                </ion-item>
                <div class="erreur" *ngIf="registerForm.controls.password.status == 'INVALID' && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
                    <p>Le mot de passe est requis.</p>
                </div>
            </div>

            <div class="champ">
                <ion-item>
                    <ion-label position="stacked">Confirmer le mot de passe</ion-label>
                    <ion-input formControlName="confirmpassword" type="password" name="confirmpassword" required (ionChange)="samePassword(registerForm)"></ion-input>
                </ion-item>
                <div class="erreur" *ngIf="!verifSamePassword">
                    <p>Les mots de passe ne correspondent pas.</p>
                </div>
            </div>

            <ion-button type="submit" expand="full" color="primary" (click)="inscription(registerForm)">Inscription</ion-button>
        </form>
    </div>
</ion-content>